{% extends "base_auth.html.twig" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajout d'informations</title>
</head>
<body>
    <h1>Ajout d'informations</h1>
    <form action="" method="POST">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" required><br><br>
        
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>
        
        <label for="addresse">Adresse:</label>
        <input type="text" id="addresse" name="addresse" required><br><br>
        
        <label for="Ntel">Numéro de téléphone:</label>
        <input type="tel" id="Ntel" name="Ntel" required><br><br>
        
        <input type="submit" name="send" value="Ajouter">
    </form>
</body>
</html>
</form>
{% endblock %} 