<!DOCTYPE html>
<html>
<head>
    <title>Ajout d'informations</title>
</head>
<body>
    <h1>Ajout d'informations</h1>
    <form action="/submit" method="POST">
        <label for="first-name">Prénom:</label>
        <input type="text" id="first-name" name="first-name" required><br><br>
        
        <label for="last-name">Nom:</label>
        <input type="text" id="last-name" name="last-name" required><br><br>
        
        <label for="address">Adresse:</label>
        <input type="text" id="address" name="address" required><br><br>
        
        <label for="phone-number">Numéro de téléphone:</label>
        <input type="tel" id="phone-number" name="phone-number" required><br><br>
        
        <input type="submit" name="send" value="Ajouter">
    </form>
</body>
</html>
</form>
