<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Accord Energie | {% block title %}{% endblock %}</title>
    <style>
        {% block styles %}
        
        header {
            background-color: #0A2438;
            padding: 10px 0;
            text-align: center;
            color: #fff;
        }
        {% endblock %}
    </style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
