{% extends "base_auth.html.twig" %}

{% block body %}

<h1>Creez votre compte</h1>

<form action = "" method = "post">
<div>
    <label for = "email">Email</label>
    <input 
        type = "email" 
        id = "email" 
        name = "email" 
        reqired = "required"
        placeholder = "Entrez votre email"
    />
</div>

<div>
    <label for = "email-cfg">Email Confirmation</label>
    <input 
        type = "email" 
        id = "email-cfg" 
        name = "email-cfg" 
        reqired = "required"
        placeholder = "Confirmez votre email"
    />
</div>

<div>
    <label for = "password">Mot de Passe</label>
    <input 
        type = "password" 
        id = "password" 
        name = "password" 
        reqired = "required"
        placeholder = "Entrez votre password"
    />
</div>

<div>
    <label for = "password-cfg">Confirmation Mot de Passe</label>
    <input 
        type = "password" 
        id = "password-cfg" 
        name = "password-cfg" 
        reqired = "required"
        placeholder = "Confirmez votre password"
    />
</div>

<div>
    <input type = "submit" value = "Creez" name="send" />
</div>

</form>

<p>
    <a href = "index.php">Deja un compte ?</a>
</p>
    
{% endblock %} 